# dependencias
/node_modules

# build
/build

# configuraciones del sistema operativo
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# configuraciones de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# editor config files (opcional)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# coverage para tests
/coverage

# archivos de producción o temporales
*.tgz
*.zip

# archivos de lock (opcional, dependiendo si querés subirlos o no)
# package-lock.json
# yarn.lock
